@font-face {
    font-family: Open-Sans;
    font-weight: 400;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
}

@font-face {
    font-family: Open-Sans;
    font-weight: 700;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.header {
    text-align: center;

    position: relative;
    z-index: 0;

    min-height: 450px;

    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: black;
}

.header-container {
    padding: 29px 15px 136px;
}

.header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-color: #000000;
    opacity: 0.6;
}

.header-top {
    display: flex;
    justify-content: space-between;

    margin-bottom: 116px;
}

.logo-link {
    text-decoration: none;
}

.logo {
    width: 179px;
}

.header-nav {
    display: flex;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;
}

.header-menu-item {
    font-family: Open-Sans;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;

    color: white;
}

.header-menu-item:nth-child(n + 2) {
    margin-left: 35px;
}

.menu-link {
    text-decoration: none;

    color: white;
}

.menu-link:hover {
    text-decoration: underline;
}

.header-title {
    display: inline-block;
    width: 692px;

    font-family: Open-Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;

    color: white;
}

.main {}

.main-container {
    display: flex;
    justify-content: space-between;

    padding: 61px 15px 64px;
}

.main-content {}

.article {
    display: flex;
}

.article:nth-child(n + 2) {
    margin-top: 61px;
}

.atricle-img {
    height: 297px;
    width: 444px;
    margin-right: 25px;
}

.article-content {
    width: 367px;
}

.article-tegs {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 15px;

    list-style-type: none;
}

.teg {}

.teg-link {
    font-family: Open-Sans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    color: #b59f5b;
}

.teg-link:hover {
    text-decoration: underline;
}


.teg:nth-child(n + 1) {
    margin-right: 15px;
}

.article-content-title {
    margin-bottom: 36px;

    font-family: Open-Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    color: #0f0d0e;
}

.article-title-link {
    color: inherit;
}

.article-title-link:hover {
    color: #b59f5b;
}

.article-info {
    margin-bottom: 54px;
}

.article-date {
    margin-right: 14px;

    font-family: Open-Sans;
    font-size: 12px;
    font-weight: 400;

    color: #888888;
}

.article-author {
    font-family: Open-Sans;
    font-size: 12px;
    font-weight: 700;

    color: #000000;
}

.atricle-content-text {
    font-family: Open-Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;

    color: #0f0d0e;
}

.text-margin {
    display: block;
    margin-top: 22px;
}

.aside-content {
    width: 286px;
}

.aside-newpost {}

.aside-newpost-title {
    text-align: center;
    position: relative;

    margin-bottom: 46px;

    font-family: Open-Sans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    color: #0f0d0e;
}

.aside-newpost-title::after {
    content: "";
    top: 27px;
    left: 106px;
    width: 66px;
    position: absolute;
    border: 3px solid #e1d9bd;
}

.aside-article {
    display: flex;
}

.aside-article:nth-child(n+2) {
    margin-top: 22px;
}

.aside-img {
    height: 81px;
    width: 81px;
    margin-right: 18px;
}

.aside-article-content {}

.aside-info {}

.aside-date {
    display: block;
    margin-bottom: 10px;

    font-family: Open-Sans;
    font-size: 12px;
    font-weight: 400;

    color: #888888;
}

.aside-content-title {
    font-family: Open-Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;

    color: #000000;
}

.aside-title-link {
    color: inherit;
}

.aside-title-link:hover {
    color: #b59f5b;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search-group {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.search-field {
    height: 50px;
    width: 220px;
    padding-left: 18px;

    font-family: Open-Sans;
    font-weight: 400;
    font-size: 13px;
    background-color: #f4f7f6;
    border: none;
    color: #888888;
}

.search-field:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.search-button {
    height: 50px;
    width: 50px;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #323232;
}

.aside-mail {
    margin-bottom: 60px;
}

.aside-mail-title {
    text-align: center;
    position: relative;

    margin-bottom: 46px;

    font-family: Open-Sans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    color: #0f0d0e;
}

.aside-mail-title::after {
    content: "";
    top: 27px;
    left: 106px;
    width: 66px;
    position: absolute;
    border: 3px solid #e1d9bd;
}

.mail-field {
    height: 50px;
    width: 270px;
    padding-left: 18px;
    margin-bottom: 17px;

    font-family: Open-Sans;
    font-weight: 400;
    font-size: 13px;
    background-color: #f4f7f6;
    border: none;
    color: #888888;
}

.mail-field:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.button-email-sumbit {
    height: 50px;
    width: 100%;

    font-family: Open-Sans;
    font-size: 14px;
    font-weight: 700;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.button-email-sumbit:hover {
    background-color: #323232;
}

.aside-tegs {
    margin-bottom: 60px;
}

.aside-tegs-title {
    text-align: center;
    position: relative;

    margin-bottom: 41px;

    font-family: Open-Sans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    color: #0f0d0e;
}

.aside-tegs-title::after {
    content: "";
    top: 27px;
    left: 106px;
    width: 66px;
    position: absolute;
    border: 3px solid #e1d9bd;
}

.aside-tegs-group {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
}

.aside-teg {
    padding: 7px 13px 7px 13px;
    margin-bottom: 6px;
    border: 3px solid #eeeeee;

    font-family: Open-Sans;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
}

.aside-teg:nth-child(n+1) {
    margin-right: 5px;
}

.aside-teg:hover {
    border-color: #b59f5b;
}

.aside-teg-link {
    color: inherit;
}

.aside-themes {}

.aside-themes-title {
    text-align: center;
    position: relative;
    margin-bottom: 22px;

    font-family: Open-Sans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    color: #0f0d0e;
}

.aside-themes-title::after {
    content: "";
    top: 27px;
    left: 106px;
    width: 66px;
    position: absolute;
    border: 3px solid #e1d9bd;
}

.aside-menu {
    list-style-type: none;
}

.aside-theme {
    box-sizing: border-box;
    width 100%;
    padding: 17px 0 17px;

    font-family: Open-Sans;
    font-size: 14px;
    font-weight: 700;

    color: #000000;

    border-bottom: 2px solid #eeeeee;
}

.theme-link {
    color: inherit;
}

.theme-link:hover {
    color: #b59f5b;
}

.aside-theme sup {
    margin-left: 5px;
    color: #b59f5b;
}

.footer {
    padding-bottom: 40px;
}

.footer-container {
    padding: 0 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 74px;
    padding: 29px 0px;

    list-style-type: none;
    background-color: #f4f7f6;
}

.social-icon {}

.social-icon:nth-child(n+2) {
    margin-left: 25px;
}

.icon-link {
    display: block;
    height: 20px;
    width: 20px;
}

.icon-dribbble {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.icon-pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
}

.icon-tumbrl {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.footer-info {
    display: block;
    text-align: center;

    font-family: Open-Sans;
    font-size: 12px;
    font-weight: 700;

    color: #999999;
}